body{
  font-family: Arial;
  margin:0;
  background:#f6f6f6;
}

/* HEADER */
header{
  background:#7b2cbf;
  color:white;
  padding:40px;
  text-align:center;
}

/* NAV */
nav{
  background:#eee;
  text-align:center;
  padding:10px;
}

nav a{
  text-decoration:none;
  margin:10px;
  color:#7b2cbf;
  font-weight:bold;
}

/* HERO */
.hero{
  text-align:center;
  padding:40px;
}

.btn{
  background:#e63946;
  padding:10px 20px;
  border-radius:8px;
  color:white;
  text-decoration:none;
}

/* PRODUSE */
.container{
  padding:20px;
}

.filters{
  background:#fff;
  padding:15px;
  border-radius:10px;
  margin-bottom:15px;
}

.grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap:15px;
}

.card{
  background:white;
  border-radius:10px;
  padding:15px;
  box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.card img{
  width:100%;
  border-radius:10px;
}
.price{
  font-weight:bold;
  margin-top:10px;
}
